@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  /* color: #fff !important; */
  background-color: #f1efef;
  width: 70%;
  margin: 0 auto 50px;
  padding: 0;
  height: 550px;
  border-radius: 5px;
}
.content1 {
  width: 50%;
  float: left;
  background: url(./page/Login/imgLogin.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 550px;
}
.agileit1 {
  padding: 225px 0 15px;
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Monoton", cursive;
}
.agileit2 {
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.content2 {
  width: 50%;
  float: left;
  padding: 5px 0 0;
}
/*
#202123
*/

/* Thành đầu*/
/* HEADER */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}
.navbar_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

/* CAROUSEL */
.banner_carousel {
  position: relative;
}
.title_carousel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(10%);
}
.search_carousel {
  width: 200px;
}
/* SERVICE */
.service {
  position: relative;
  padding: 100px 0;
}

.item_service {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
/* SUPPORT */
.support .support_1 {
  background: #f1fdf7;
  padding: 100px 0;
}
.support_1 .support_item_title {
  font-size: 25px;
}
.support_1 .support_item_title span:nth-of-type(1) {
  color: #62646a;
}
.support_1 .support_item p {
  font-size: 18px;
  line-height: 26px;
  color: #62646a;
  font-weight: 500;
}
.support_2 {
  padding: 100px 0;
}
.support_2 .support_title_2 h1 {
  color: #74767e;
  font-weight: 400;
  font-size: 20px;
}
.support_2 .support_title_2 h1 span {
  color: black;
  font-weight: 600;
}
.support_2 .support_title_2 p {
  font-weight: 500;
  font-size: 30px;
  font-family: DomaineDisplay, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #003912;
  font-style: italic;
}
.support_3 {
  padding-bottom: 100px;
}
.support_3 .support_icon a {
  position: relative;
  text-decoration: none;
}
.support_3 .support_icon a:after {
  border-bottom: 2px solid #c5c6c9;
  content: "";
  padding: 0 0 8px;
  position: absolute;
  left: 0;
  top: 45px;
  width: 48px;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}
.support_3 .support_icon a:hover:after {
  width: 88px;
  border-bottom: 2px solid green;
}

.support_3 .support_icon a img {
  margin: 0 auto 15px;
  height: 48px;
  width: 48px;
}

/* FOOTER */
.footer_icon span {
  margin: 0 10px;
}
.footer_icon span img {
  height: 20px;
  width: 20px;
}
.footer .footer_title .footer_item {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .footer_title ul li a {
  color: #74767e;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}
.footer .footer_icon {
  color: #74767e;
}
.footer .footer_icon img {
  color: #74767e;
}
.footer .footer_icon h2 {
  color: #74767e;
  font-size: 30px;
  margin-right: 5px;
  font-weight: 500;
}
/* Thành cuối*/
